<!DOCTYPE html>

<html>
    <head>
        {% block meta %}
            <meta charset="UTF-8" />

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %} title{% endblock %}</title>

            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        {% endblock %}

        {% block styles %}
            {% stylesheets
                output = 'css/boot.css'
                'bundles/ibrowssyliusshop/bootstrap/css/bootstrap.css'
                'bundles/ibrowssyliusshop/fontawesome/css/font-awesome.css'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet"   media="screen" />
            {% endstylesheets %}

            {% stylesheets
                '@IbrowsSyliusShopBundle/Resources/public/css/*.css'
            %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock styles %}
    </head>
    <body>
        {% block navi %}
            {% include 'IbrowsSyliusShopBundle::navi.html.twig' %}
        {% endblock navi %}

        {% block wizard %}{% endblock wizard %}

        {% block content %}{% endblock content %}

        {% block javascript %}
            {% javascripts
                '@IbrowsSyliusShopBundle/Resources/public/jquery/*.js'
                '@IbrowsSyliusShopBundle/Resources/public/bootstrap/js/*.js'
             %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascript %}
    </body>
</html>