{% macro renderStrategyOptionForm(strategyOptionForm) %}
    <div class="strategies" data-strategies>
        {{ form_errors(strategyOptionForm) }}
        {% for choicekey, choice in strategyOptionForm.children.strategyServiceId.vars.choices %}
            {% set strategy = choice.data %}
            {% set strategyChoice = strategyOptionForm.strategyServiceId[choicekey] %}
            <div class="strategy" data-strategy>
                <div class="parent" data-parent {% if strategy.parentVisible != true %}style="display:none"{% endif %}>
                    {{ form_row(strategyChoice) }}
                </div>
                <div class="child" data-child>
                    {{ form_widget(strategyOptionForm[strategy.name]) }}
                </div>
            </div>
        {% endfor %}
        {{ form_rest(strategyOptionForm) }}
    </div>
{% endmacro %}