<ul id="navi">
    <li>
        <a href="{{ url('start') }}">Start</a>
    </li>
    <li>
        <a href="{{ url('cart_summary') }}">Cart</a>
    </li>
    <li>
        <a href="{{ url('product_list') }}">Products</a>
    </li>
</ul>