sylius_cart:
  driver: doctrine/orm
  engine: twig 
  resolver: ibrows_syliusshop.cart.resolver
  classes:
    cart:
      model: Ibrows\SyliusShopBundle\Entity\Cart
      repository: Ibrows\SyliusShopBundle\Repository\CartRepository
    item:
      model: Ibrows\SyliusShopBundle\Entity\CartItem
      form: Sylius\Bundle\CartBundle\Form\Type\CartItemType 
      repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository