sonata_admin:
    title: Shop Admin
    title_logo: /bundles/sonataadmin/logo_title.png
    persist_filters:      true  
        
sonata_doctrine_orm_admin: 
        entity_manager: ~
        templates:
          form:
              - SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig
          filter:
              - SonataDoctrineORMAdminBundle:Form:filter_admin_fields.html.twig
          types:
              list:
                  array:      SonataAdminBundle:CRUD:list_array.html.twig
                  boolean:    SonataAdminBundle:CRUD:list_boolean.html.twig
                  date:       SonataIntlBundle:CRUD:list_date.html.twig
                  time:       SonataIntlBundle:CRUD:list_time.html.twig
                  datetime:   SonataIntlBundle:CRUD:list_datetime.html.twig
                  text:       SonataAdminBundle:CRUD:base_list_field.html.twig
                  trans:      SonataAdminBundle:CRUD:list_trans.html.twig
                  string:     SonataAdminBundle:CRUD:base_list_field.html.twig
                  smallint:   SonataIntlBundle:CRUD:base_list_field.html.twig
                  bigint:     SonataIntlBundle:CRUD:base_list_field.html.twig
                  integer:    SonataIntlBundle:CRUD:base_list_field.html.twig
                  decimal:    SonataIntlBundle:CRUD:base_list_field.html.twig
                  identifier: SonataAdminBundle:CRUD:base_list_field.html.twig
                  currency:   SonataIntlBundle:CRUD:list_currency.html.twig
                  percent:    SonataIntlBundle:CRUD:list_percent.html.twig
  
              show:
                  array:      SonataAdminBundle:CRUD:show_array.html.twig
                  boolean:    SonataAdminBundle:CRUD:show_boolean.html.twig
                  date:       SonataIntlBundle:CRUD:show_date.html.twig
                  time:       SonataIntlBundle:CRUD:show_time.html.twig
                  datetime:   SonataIntlBundle:CRUD:show_datetime.html.twig
                  text:       SonataAdminBundle:CRUD:base_show_field.html.twig
                  trans:      SonataAdminBundle:CRUD:show_trans.html.twig
                  string:     SonataAdminBundle:CRUD:base_show_field.html.twig
                  smallint:   SonataIntlBundle:CRUD:base_show_field.html.twig
                  bigint:     SonataIntlBundle:CRUD:base_show_field.html.twig
                  integer:    SonataIntlBundle:CRUD:base_show_field.html.twig
                  decimal:    SonataIntlBundle:CRUD:base_show_field.html.twig
                  currency:   SonataIntlBundle:CRUD:show_currency.html.twig
                  percent:    SonataIntlBundle:CRUD:show_percent.html.twig

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]

        #sonata.admin_doctrine_orm.block.audit:
        #    contexts:   [admin]

        sonata.block.service.text:
        sonata.block.service.action:
        sonata.block.service.rss:

        # Some specific block from the SonataMediaBundle
        sonata.media.block.media:
        sonata.media.block.gallery:
        sonata.media.block.feature_media:
