services:    
    ibrows_syliusshop.admin.product:
      class: Ibrows\SyliusShopBundle\Admin\DefaultAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Shop, label: Product, label_translator_strategy: sonata.admin.label.strategy.native}
      arguments: [null, '%ibrows_sylius_shop.product.class%',  'IbrowsSyliusShopBundle:DefaultAdmin']
    ibrows_syliusshop.admin.user:
      class: Ibrows\SyliusShopBundle\Admin\UserAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Shop, label: User, label_translator_strategy: sonata.admin.label.strategy.native}
      arguments: [null, '%ibrows_sylius_shop.user.class%',  'IbrowsSyliusShopBundle:DefaultAdmin']      
      
 