{% extends 'IbrowsSyliusShopBundle:Wizard:basewizard.html.twig' %}

{% block content %}
    <h1>Basket</h1>
    {% if cart.items|length <= 0 %}
        <div>
            Empty cart.
        </div>
    {% else %}
        <form method="post" action="{{ url('wizard_basket') }}" {{ form_enctype(basketForm) }}>
            <input type="submit" name="refresh" value="refresh">
            <input type="submit" name="continue" value="continue">

            {{ form_widget(basketForm) }}
        </form>
    {% endif %}
{% endblock content %}