{% extends 'IbrowsSyliusShopBundle:Wizard:basewizard.html.twig' %}
{% import 'IbrowsSyliusShopBundle::macros.html.twig' as macros %}

{% block content %}
    <h1>Zahlungsart</h1>
    <form action="{{ url('wizard_payment_instruction') }}" method="post" {{ form_enctype(paymentOptionStrategyForm) }}>
        {{ form_errors(paymentOptionStrategyForm) }}
        {{ macros.renderStrategyOptionForm(paymentOptionStrategyForm) }}
    <input type="submit" />
    </form>
{% endblock content %}